{% extends "affichage/base.html" %}

{% block content %}
<div class="container text-center mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="text-success">✅ Paiement Réussi !</h2>
        <p class="mt-3">Merci pour votre achat ! Votre paiement a été reçu avec succès.</p>
        <p>Veuillez prendre une capture d'écran de votre reçu et nous l'envoyer sur WhatsApp pour finaliser la récupération de votre téléphone.</p>
        
        <div class="mt-4">
            <a href="https://wa.me/+22230454377" class="btn btn-success btn-lg">
                📲 Envoyer sur WhatsApp
            </a>
        </div>
        <div>
       
           </div>

        <p class="mt-3 text-muted">Nous restons à votre disposition pour toute assistance.</p>
    </div>
</div>
{% endblock %}
